body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(106, 255, 186);
    display: grid;
}


section{
    text-align: center;
}

img{
    height: 200px;
}

nav ul {
    display:flex;
}

footer{
    background-color: black;
    
}

footer p{
    color: white;
}